<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Psych Experiment</title>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"
	type="text/css" />
<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>

</head>
<body>
<div class="card" style="height:60%; width:80%; margin-left:10%;margin-top:1%;" >
<div class="card-body">
<form th:action=@{/nextQuestion} th:method="post" >
<div class="container">
<div class="row">
<div class="col-sm offset-5" ><h5>Psych Experiment</h5></div>
</div>
	<div class="row" >
		<div class = "col-sm offset-1" >
			<img th:src="@{${'/Images/img' + stepper.step + '.jpg'}}" class="img-thumbnail" alt="Cinque Terre" style="margin-left:10%;" height="75%" width="75%">
		</div>
	
	</div>
<br/>

<div class="row">
<div class="col-sm-5">
	<div class="card" style="width:110%;">
	<div class="card-header" style="font-size: 70%;">What do you think?</div>
  <div class="card-body">
  <textarea class="form-control" rows="2" id="comment1" name="response1" style="font-size: 70%;"></textarea>
  </div>
	</div>
	</div>
<div class="col-sm-5 offset-1" style="">
	<div class="card" style="width:110%;">
	<div class="card-header" style="font-size: 70%;">What do you really think?</div>
  <div class="card-body">
	<textarea class="form-control" rows="2" id="comment2" name="response2" style="font-size: 70%;"></textarea>
	</div>
	</div>

</div>
	
</div>
<div class="row">
<div class="col-sm-3 offset-10" style="padding-top: 1%; ">
<button type="submit" class="btn btn-success" style="font-size: 80%; margin-left:40%; ">Submit</button>
</div>
</div>
</div>
</form>
</div>
</div>
</body>
</html>